
nav{
    // padding: 30px;
    background-color:  #3c0593;
    // padding-left: 150px;
    color: white !important;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
 
    
}

img{
    padding-left: 50px;
    width: 120px;
    width: 120px;
    object-fit: cover;
}

