<nav class="navbar navbar-expand-lg" >
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent infotech">
        <ul class="navbar-nav mr-auto">
            <img src="http://mountliterabesa.edu.in/dashboard/assets/gallery/16352678ea36fe.png" alt="
            " srcset="
            ">
            <li class="nav-item">
                <a class="nav-link" routerLink="">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="posts">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="posts">WHY MLZS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="posts">ADMISSION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="posts">PARENT'S CORNER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="posts">MANDATORY PUBLIC DISCLOSURE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="posts">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
